.container {
    margin: 20px 80px;
}

.container a {
    color: rgb(0, 191, 255);
}

.container h1, 
.container h2,
.container p,
.container li {
    font-family: 'Montserrat';
    color: white;
}

#legal {
    color: rgb(0, 191, 255);
}