@font-face {
    font-family: 'Formula1-Wide';
    src: url('/Fonts/Formula1-Wide.ttf') format('truetype'),
         url('/Fonts/formula1-wide-webfont.woff') format('woff'),
         url('/Fonts/formula1-wide-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Formula1-Regular';
    src: url('/Fonts/Formula1-Regular-1.ttf') format('truetype'),
         url('/Fonts/formula1-regular-1-webfont.woff') format('woff'),
         url('/Fonts/formula1-regular-1-webfont.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    src: url('/Fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('/Fonts/Montserrat-ExtraLight.ttf') format('truetype');
}