body {
    font-family: 'Formula1-Display-Wide', sans-serif !important;
    margin: 0;
    margin-top: 5px;
    color: white;
    background-color: black;
    padding-left: 0;
}

.content-container {
    column-count: 2;
    column-gap: 0px;
    margin-left: 0;
}

.top-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.top-buttons a {
    display: flex; 
    align-items: center; 
}

.align-left {
    margin-right: auto;
    margin-left: 20px;
}

.top-buttons .sign-in-button,
.top-buttons .subscribe-button {
    font-family: 'Formula1-Regular', 'Formula1', sans-serif;
    margin: 3px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}

.top-buttons .subscribe-button {
    margin-right: 20px;
    background-color: #e10600;
}

.video-background {
    position: absolute;
    top: 138px;
    left: 0;
    width: 100%;
    height: 150%; /* Increase height to 150% */
    overflow: hidden; /* Hide overflow */
    z-index: -1;
}

.colorful-video {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure video covers the container */
    transform: translateX(-50%); /* Center the video horizontally */
}

/* Styles for slideshow container */
.slideshow-container {
    position: relative;
    max-width: 100%; /* Ensure slideshow width matches video width */
    margin-top: 10px; /* Adjust margin as needed */
    margin-bottom: 20px;
    margin-left: 10px;
    flex-basis: 100%; /* Ensure slideshow takes full width on all screen sizes */
    z-index: 1;
}

.slide {
    display: none;
}

.slide img {
    width: 100%;
    height: 480px; /* Maintain aspect ratio */
    max-width: 100%; /* Limit width to match video */
    border-radius: 15px;
}

/* Styles for navigation arrows */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 16px;
    color: white;
    font-size: 20px;
    z-index: 1;
}

.next .fas.fa-angle-right {
    color: white;
    font-size: 20px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.nav-link {
    font-family: 'Formula1-Regular', 'Formula1', sans-serif;
    color: white; 
    text-decoration: none;
    border-radius: 0;
}

#navbarText {
    display: flex;
    align-items: flex-end;
}

.navbar-nav a {
    margin-right: 15px;
}

.navbar-nav a.nav-link {
    color: white;
    text-decoration: none;
    padding: 6.5px; 
    margin-right: 10px;
}

.navbar-nav a.nav-link:hover {
    background-color: #e10600; 
    color: white; 
    transition: background-color 0.3s ease;
}

header {
    background-color: rgb(25, 25, 25);
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: top;
}

header img {
    margin-right: 10px;
}

.global-links ul {
    list-style: none;
    padding: 0;
}

.global-links li {
    display: inline-block;
    margin-right: 15px;
}

.global-links li a {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: small;
    color: white; 
    text-decoration: none; 
    position: relative;
}

.global-links li a:hover {
    color: white;
}

.global-links li a:hover::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: -7px;
    left: 0;
    height: 3px; 
    background: white; 
}

.F1-Tv{
    background-color: rgb(196, 196, 196);
    border-radius: 15px;
    padding: 5px;
}

.header-title {
    margin-top: 16px;
    margin-bottom: 16px;
}

#Fusion-F1,
.fusion-f1 svg {
    font-family: 'Formula1-Display-Wide', 'Formula1-Wide', sans-serif;
    margin-top: 16px;
    margin-bottom: 16px;
    color: white;
    font-size: 24px;
}

.mv img {
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 30px;
}

.nav-header {
    margin: 25px;
}

.nav-header a {
    font-family: 'Formula1-Regular', 'Formula1', sans-serif;
    color: white;
    text-decoration: none;
    position: relative;
    margin-right: 15px;
}

.nav-header a:hover::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: -7px;
    left: 0;
    height: 3px; 
    background: #e10600; 
}

.fa-angle-right {
    color: white;
}

.next .fa-angle-right {
    color: white;
}

.white {
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

.arrow {
    vertical-align: middle; 
    margin-left: 120px; 
}

.nav-secondary {
    top: 140px;
    visibility: hidden;
    background: rgb(25, 25, 25);
    position: absolute;
    left: 0;
    z-index: 101;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .2);
    border-bottom: none;
    transition: visibility 0.1s ease;
}

.name.f1--xxs.f1-color--white.followed.f1-capitalize {
    font-family: 'Formula1-Regular', 'Formula1', sans-serif;
    align-items: center;
}

.name .firstname {
    font-weight: 10;
}

.name .lastname {
    font-weight: 525;
}

.info .number {
    font-family: 'Formula1-Regular', 'Formula1', sans-serif;
    color: white;
}

.driver {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.team {
    text-decoration: none;
}

ul {
    list-style: none;
}

.driver-info {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    align-items: center; 
    margin-left: 15px;
}

.flag {
    width: 22px;
    height: 22px;
    margin-left: 8px; 
}

.nav-list.drivers {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
}

.name-wrapper {
    position: relative;
}

.name-wrapper::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0; 
    height: 3px;
    background-color: currentColor;
    transition: width 0.3s ease; 
}

.name-wrapper:hover::after {
    width: 100%; 
}

.teamname {
    width: 120px; 
    display: inline; 
    position: relative;
    color: white;
}

.teamname::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%; /* Initially set to 0% */
    height: 3px;
    background-color: currentColor;
    transition: width 0.3s ease; 
}

.teamname:hover::after {
    width: 100%; /* Expand to 100% on hover */
}

.nav-list.drivers .column {
    flex: 1; 
    margin-right: 10px; 
}

.nav-list.drivers .column:last-child {
    margin-right: 0; 
}

.nav-list.drivers ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list.drivers ul li {
    margin-bottom: 20px;
}

.nav-list.drivers ul li {
    display: flex;
    align-items: center; 
}

.nav-list.drivers ul li a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.nav-list.teams {
    display: flex;
    flex-wrap: wrap;
}

.nav-list.teams .column {
    flex: 1;
    padding: 0 10px; 
}

.nav-list.teams .column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar .nav-secondary {
    display: block;
    visibility: hidden;
}

.navbar .nav-link:hover + .nav-secondary,
.navbar .nav-secondary:hover {
    visibility: visible;
}

.nav-width {
    max-width: 1320px;
    margin: auto;
}

.car-container {
    width: 70%;
    height: auto; 
    overflow: hidden;
}

.car {
    width: 100%; 
    height: auto;
    display: block;
}

.f1-video {
    position: relative;
    width: 100%;
    max-width: 854px;
    overflow: hidden;
    border-radius: 15px;
}

.video {
    position: relative;
    width: 100%;
    max-width: 854px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    overflow: hidden;
    border-radius: 15px;
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: contain; 
}

#Formula-1-Highlights {
    font-family: 'Formula1-Display-Wide', 'Formula1-Wide', sans-serif;
}

a.video-text {
    font-family: 'Formula1-Display-Wide', 'Formula1-Wide', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
}

.video svg.highlights {
    font-family: 'Formula1-Display-Wide', 'Formula1-Wide', sans-serif;
    position: absolute; 
    top: 0; 
    left: 50%; 
    transform: translateX(-50%);
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    z-index: 1;
}

.fadeOutAnimation {
    animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0; 
        visibility: hidden; 
    }
} 

@media (max-width: 854px) {
    .video {
        width: 100%; 
    }
}

@media (min-width: 1025px) {
    .nav-contents {
        padding: 15px 30px;
    }
}

.content-container {
    position: relative; 
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    flex-wrap: wrap; 
}

.articles-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    max-width: calc(100% - 854px);
    margin-left: 40px;
    width: 100%;
    height: 975px;
    max-height: 975px;
    max-width: 40%;
    margin-top: 20px;
    justify-content: space-between;
    overflow-y: auto;
    margin-right: 20px;
}

.article {
    background-color: rgb(25, 25, 25);
    width: calc(50% - 10px); 
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box; 
    position: relative; 
    overflow: hidden;
}

.article:nth-child(2n) {
    margin-right: 5px; 
}

.article img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover; 
    transition: transform 0.3s ease;
}

.article a, .article h3 {
    position: relative; /* Ensure anchor and heading elements stay in position */
}

.article h3 {
    font-family: 'Montserra-Light', sans-serif;
    font-weight: normal;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 16px;
    text-align: left;
}

.article-type {
    background-color: rgb(25, 25, 25);
}

.article-type a {
    position: relative;
    font-family: 'Formula1-Display-Wide', 'Formula1-Wide', sans-serif;
    display: block;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
    text-decoration: none;
    color: red;
    background-color: rgb(25, 25, 25);
    font-size: x-small;
}

.article:hover h3 {
    opacity: 0.7; 
    transition: opacity 0.3s ease; 
}

.article-type:hover a {
    opacity: 0.7; 
    transition: opacity 0.3s ease; 
}

.article img:hover {
    transform: scale(1.15); 
    transition: transform 0.3s ease;
    overflow: hidden;
}

.track-image {
    position: -webkit-sticky; 
    position: sticky;
    top: 650px;
    right: 5px;
    z-index: -1;
    border-radius: 15px;
}

.track-image img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 15px;
}

.standings img {
    max-width: 100%; 
    width: 100vw; 
    height: auto; 
    border-radius: 15px;
}

.body-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.body-footer img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: top;
    color: white;
    font-size: 24px;
}

.app {
    position: relative;
    font-family: 'Montserrat';
    font-size: 0.75rem;
    width: 150px;
    top: 15px;
    left: 10vw;
}

#btm-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btn-grp {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 40px;
    left: 10vw;
}

#apple, #google {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

#apple img {
    object-fit: cover;
    margin: 0;
    padding: 0px 10px 0px 10px;
    height: 42px;
    width: 126px;
}

#google img {
    object-fit: cover;
    margin: 0;
    padding: 0;
    height: 42px;
    width: 142px;
}

@media screen and (min-width: 1200px) {
    .articles-container {
        width: 100%;
        max-width: 100%; 
    }
}

/* Media queries for smaller screens */
@media screen and (max-width: 1025px) {
    .content-container {
        flex-direction: column;
        align-items: center;
    }
    .video,
    .articles-container {
        max-width: 100%;
    }
    .articles-container {
        width: 80%;
    }
    .article {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .articles-container .article {
        width: calc(33.33% - 10px);
    }
    .slide img {
        height: 300px;
    }
}

@media screen and (max-width: 1035px) {
    /* Adjusts the layout to stack the slideshow and driver-standings vertically */
    .container {
        flex-direction: column; 
        align-items: center; 
    }

    /* Adjusts the width of the slideshow and driver-standings to occupy full width */
    .slideshow-container {
        width: 100%; 
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .track-image {
        position: relative; 
        top: auto; 
        right: auto;
        margin-top: 20px; 
        width: calc(100% - 30px); 
    }
}