html {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.spacer {
    height: 1550px;
}

.sketchfab-embed-wrapper {
    position: absolute;
    top: 1275px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; 
}

.mercedes-concept {
    font-family: 'Formula1-Display-Wide', sans-serif;
    position: absolute;
    top: 850px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background color */
    padding: 10px 20px; /* Adjust padding as needed */
    color: white;
    font-size: 18px;
}

.button {
    position: absolute;
    top: 500px;
    transform: translateY(-50%);
    z-index: 1; /* Ensure buttons appear above images */
    cursor: pointer; /* Add cursor pointer for better UX */
    width: 40px; /* Adjust button width */
    height: 40px; /* Adjust button height */
    color: white;
    background-color: transparent;
    border: none;
}

.button i {
    /* Apply styles to the chevron icons */
    transform: scale(3); /* Scale the icon up by a factor of 2 */
}

.button--left {
    left: 10%;
}

.button--right {
    right: 10%;
}

.concept-cars {
    font-family: 'Formula1-Display-Wide', sans-serif;
    position: absolute;
    top: 200px; /* Adjust position based on the height of the carousel */
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px; /* Adjust padding as needed */
    color: white;
    font-size: 18px;
}

.carousel {
    top: 410px; /* Center vertically */
    height: 240px; /* Adjusted height */
    width: 427px; /* Adjusted width */
    padding: 0;
    margin: 0;
    z-index: -1;
    position: absolute;
    left: calc(50% - 213.5px); /* Center horizontally */
    transform: translate3d(0, 0, 0); /* Reset transform */
}

.item {
    width: 427px;
    height: 240px;
    background: #dadada;
    float: left;
    list-style: none;
    margin-right: 20px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transition: all .5s ease;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Crop to fit */
    margin-bottom: 50px;
}

.item:last-child {
    margin-right: 0;
}

[data-position='1'] {
    transform: scale(1.5) translate3d(-128px, 0px, 0px); /* Adjust translate3d values */
    z-index: 1;
}

[data-position='2'] {
    transform: scale(1.75) translate3d(-54px, 0px, 0px); /* Adjust translate3d values */
    z-index: 2;
}

[data-position='3'] {
    transform: scale(2) translate3d(0px, 0px, 0px);
    z-index: 3;
}

[data-position='4'] {
    transform: scale(1.75) translate3d(54px, 0px, 0px); /* Adjust translate3d values */
    z-index: 2;
}

[data-position='5'] {
    transform: scale(1.5) translate3d(128px, 0px, -5px); /* Adjust translate3d values */
    z-index: 1;
}

@keyframes crossfade {
    0% {
        opacity: 1;
    }
    5% {
        opacity: 0.7;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.top-buttons {
    margin-top: 5px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}

.top-buttons a {
    display: flex; 
    align-items: center; 
}

.top-buttons .sign-in-button,
.top-buttons .subscribe-button {
    font-family: 'Formula1-Regular', 'Formula1', sans-serif;
    margin: 3px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    text-decoration: none;
}

.top-buttons .subscribe-button {
    margin-right: 20px;
    background-color: #e10600;
}

.align-left {
    margin-right: auto;
    margin-left: 20px;
}

.global-links {
    width: 460.46px;
}

.global-links ul {
    list-style: none;
    padding: 0;
}

.global-links li {
    display: inline-block;
    margin-right: 15px;
}

.global-links li a {
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: small;
    color: white; 
    text-decoration: none; 
    position: relative;
}

.global-links li a:hover {
    color: white;
}

.global-links li a:hover::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: -7px;
    left: 0;
    height: 3px; 
    background: white; 
}

.F1-Tv{
    background-color: rgb(196, 196, 196);
    border-radius: 15px;
    padding: 5px;
}

.nav-link {
    font-family: 'Formula1-Regular', 'Formula1', sans-serif;
    color: white; 
    text-decoration: none;
    border-radius: 0;
}

.navbar-nav a.nav-link {
    color: white;
    text-decoration: none;
    padding: 6.5px; 
    margin-right: 12px;
}

.navbar-nav a.nav-link:hover {
    background-color: #e10600; 
    color: white; 
    transition: background-color 0.3s ease;
}

.navbar .nav-link:hover + .nav-secondary,
.navbar .nav-secondary:hover {
    visibility: visible;
}

#navbarText {
    display: flex;
    align-items: flex-end;
}

.navbar-nav a {
    margin-right: 15px;
}

.navbar {
    width: 543.02px;
}

header {
    width: 100%;
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: flex-start;
    align-items: top;
    top: 0;
    left: 0;
    z-index: 100;
}

header img {
    margin-right: 10px;
}

.header-title {
    margin-top: 16px;
    margin-bottom: 16px;
    width: 543.02px;
}

.nav-header {
    margin: 25px;
}

.nav-header a {
    font-family: 'Formula1-Regular', 'Formula1', sans-serif;
    color: white;
    text-decoration: none;
    position: relative;
    margin-right: 15px;
}

.nav-header a:hover::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: -7px;
    left: 0;
    height: 3px; 
    background: #e10600; 
}

#Fusion-F1,
.fusion-f1 svg {
    font-family: 'Formula1-Display-Wide', 'Formula1-Wide', sans-serif;
    margin-top: 16px;
    margin-bottom: 16px;
    color: white;
    font-size: 24px;
}

.nav-secondary {
    top: 140px;
    visibility: hidden;
    background: rgb(25, 25, 25);
    position: absolute;
    left: 0;
    z-index: 101;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .2);
    border-bottom: none;
    transition: visibility 0.1s ease;
}

.name.f1--xxs.f1-color--white.followed.f1-capitalize {
    font-family: 'Formula1-Regular', 'Formula1', sans-serif;
    align-items: center;
}

.name .firstname {
    font-weight: 10;
}

.name .lastname {
    font-weight: 525;
}

.info .number {
    font-family: 'Formula1-Regular', 'Formula1', sans-serif;
    color: white;
}

.driver {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.team {
    text-decoration: none;
}

ul {
    list-style: none;
}

.driver-info {
    display: flex;
    align-items: center;
}

.info {
    display: flex;
    align-items: center; 
    margin-left: 15px;
}

.flag {
    width: 22px;
    height: 22px;
    margin-left: 8px; 
}

.nav-list.drivers {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto; 
}

.name-wrapper {
    position: relative;
}

.name-wrapper::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0; 
    height: 3px;
    background-color: currentColor;
    transition: width 0.3s ease; 
}

.name-wrapper:hover::after {
    width: 100%; 
}

.teamname {
    width: 120px; 
    display: inline; 
    position: relative;
    color: white;
}

.teamname::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%; /* Initially set to 0% */
    height: 3px;
    background-color: currentColor;
    transition: width 0.3s ease; 
}

.teamname:hover::after {
    width: 100%; /* Expand to 100% on hover */
}

.nav-list.drivers .column {
    flex: 1; 
    margin-right: 10px; 
}

.nav-list.drivers .column:last-child {
    margin-right: 0; 
}

.nav-list.drivers ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list.drivers ul li {
    margin-bottom: 15px;
}

.nav-list.drivers ul li {
    display: flex;
    align-items: center; 
}

.nav-list.drivers ul li a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.nav-list.teams {
    display: flex;
    flex-wrap: wrap;
}

.nav-list.teams .column {
    flex: 1;
    padding: 0 10px; 
}

.nav-list.teams .column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar .nav-secondary {
    display: block;
    visibility: hidden;
}

.navbar .nav-link:hover + .nav-secondary,
.navbar .nav-secondary:hover {
    visibility: visible;
}

.nav-width {
    max-width: 1320px;
    margin: auto;
}

.car-container {
    width: 70%;
    height: auto; 
    overflow: hidden;
}

.car {
    width: 100%; 
    height: auto;
    display: block;
}

.mv img {
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 30px;
}

@media (min-width: 1025px) {
    .nav-contents {
        padding: 15px 30px;
    }
}

/* Media query for wider screens */
@media screen and (min-width: 1200px) {
    .articles-container {
        width: 100%;
        max-width: 100%; 
    }
}

/* Media queries for smaller screens */
@media screen and (max-width: 1025px) {
    .content-container {
        flex-direction: column;
        align-items: center;
    }
    .video,
    .articles-container {
        max-width: 100%;
    }
    .articles-container {
        width: 80%;
    }
    .article {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .articles-container .article {
        width: calc(33.33% - 10px);
    }
    .slide img {
        height: 300px;
    }
}

@media screen and (max-width: 1035px) {
    /* Adjusts the layout to stack the slideshow and driver-standings vertically */
    .container {
        flex-direction: column; 
        align-items: center; 
    }

    /* Adjusts the width of the slideshow and driver-standings to occupy full width */
    .slideshow-container {
        width: 100%; 
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .track-image {
        position: relative; 
        top: auto; 
        right: auto;
        margin-top: 20px; 
        width: calc(100% - 30px); 
    }
}