.team-name {
    font-family: 'Formula1';
    font-weight: 500;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 10px;
}

.team-name p {
    font-family: 'Formula1';
    font-weight: 100;
    font-size: 1.25rem;
    color: white;
    text-align: left;
    margin: 0;
}

.number-flag {
    display: inline-block;
    color: white;
    margin-top: 15px;
    padding: 10px;
}

.driver-number {
    font-family: 'Formula1';
    font-weight: 100;
    font-size: 2.4rem;
    display: inline-block;
    color: white;
    margin: 0;
    margin-right: 5px;
}

.driver-flag {
    height: 30px;
    width: 40px;
    display: inline-block;
    color: white;
    border-radius: 10%;
    margin: 0;
}

.team-page {
    width: 82vw;
    display: flex;
    flex-direction: row;
    flex: 1;
    /* flex-wrap: wrap;
    justify-content: space-between; */
}

.drivers-info {
    display: flex;
    flex-direction: row;
    flex: 1;
    border: 1px solid white;
}

.teams-info {
    display: flex;
    flex-direction: column;
    border: 1px solid yellow;
}

.key-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-weight: 500;
    border: 1px solid aqua;
    padding: 5px;
}

.value-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 1px solid aqua;
    padding: 5px;
}

.key-block p,
.value-block p {
    font-family: 'Formula1';
    font-size: 1rem;
    color: white;
    margin: 0; 
    padding: 14px;
}

.profile h2 {
    font-family: 'Formula1';
    font-size: 1.5em;
    color: white;
}

.profile-desc {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-family: 'Formula1';
    color: white;
    padding: 10px;
    border: 1px solid palegreen;
}

.profile-desc {
    border: 1px solid white;
    border-radius: 12px;
    margin-bottom: 10vh;
}

.profile-desc p {
    color: white;
    font-family: 'Montserrat';
    text-align: justify;
    text-align: left;
    font-weight: 400;
    font-size: 1.12rem;
    padding: 15px;
    margin: 0;
}

.driver-name {
    font-family: 'Formula1';
    color: white;
    font-size: 2rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

.driver-name p {
    padding: 5px;
    margin: 0;
}

.driver-number {
    font-family: 'Formula1';
    color: white;
}

.driver-pic {
    height: 100%;
    width: 100%;
    height: auto;
    width: auto;
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
    border-radius: 2%;
    aspect-ratio: 1/1;
}

.left-driver,
.right-driver {
    position: relative;
    overflow: hidden;
    flex-basis: calc(50% - 5px);
}

.logo-box {
    display: flex;
    flex: 1;
    flex-direction: row;
    max-width: 150px;
    max-height: 150px;
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    position: relative;
    padding: 5px;
    aspect-ratio: 1/1;
}

.left-driver,
.right-driver {
    border: 1px solid white;
    border-radius: 2%;
    background-color: black;
    transition: background-color 0.3s;
}

.left-driver:hover,
.right-driver:hover {
    background-color: rgb(242, 242, 242);
}

.left-driver .driver-pic,
.right-driver .driver-pic {
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.3s;
}

.left-driver:hover .driver-pic,
.right-driver:hover .driver-pic {
    transform: scale(1.1);
    overflow: hidden;
}

.left-driver:hover .driver-number,
.left-driver:hover .name-text,
.left-driver:hover .team-name p,
.right-driver:hover .driver-number,
.right-driver:hover .name-text,
.right-driver:hover .team-name p {
    color: black;
}

.data-block {
    display: flex;
    flex-direction: row;
    flex: 2;
}

/* #yearButtons {
    width: 80vw;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: space-evenly;
}

.btn-primary {
    font-family: 'Formula1';
    scale: 1.75;
    padding: 10px;
    background-color: #37BEDD; 
    color: white; 
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.btn-primary:hover {
    background-color: darken(#37BEDD, 10%); 
    border-color: darken(#37BEDD, 10%); 
} */

.collapse {
    display: none;
}

.collapse.show {
    display: block;
}

.timeline {
    padding: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.btn-primary {
    font-family: 'Formula1';
    /* scale: 1.75; */
    padding: 10px;
    background-color: #37BEDD; 
    color: white; 
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.btn-primary:hover {
    background-color: #2B96B6; /* Darken the primary color on hover */
}

.collapse {
    display: none;
}

.collapse.show {
    display: block;
}

.card {
    background-color: #444;
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}

.card-body {
    color: white;
    font-family: 'Montserrat';
    text-align: justify;
    text-align: left;
    font-weight: 400;
    font-size: 0.85rem;
    padding: 15px;
    margin: 0;
}

@media (max-width: 768px) {
    .team-page {
        flex-direction: column; /* Stacks elements vertically on smaller screens */
    }

    .image-block,
    .stats-block {
        min-width: auto; /* Remove minimum width */
        margin-right: 0; /* Reset margin */
    }
}